
body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: black;
}
#logoutbtn, #newpost, .btntoviewpost {
    padding: 6px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
#logoutbtn, #newpost {
    background-color: #B0C4DE;
    color: black;
}
.btntoviewpost {
    background-color: #B0C4DE;
    color: black;
}


.hero-section .hero-img {
    max-width: 700px;
    width: 100%;
    border-radius: 10px;
}

.main-content h1 {
    color: violet;
    margin-bottom: 15px;
}
.main-content p {
    color: black;
    font-size: 1.2rem;
}


.benefits-section h2 {
    color: violet;
    margin-bottom: 15px;
}
.benefits-section ul {
    list-style-type: disc;
    padding-left: 20px;
}
.benefits-section ul li {
    margin-bottom: 10px;
    color: black;
}


@media (max-width: 768px) {
    .benefits-section .row {
        flex-direction: column;
        text-align: center;
    }
    .benefits-section img {
        margin-bottom: 20px;
    }
}
