#logoutbtn{
    width:100px;
    padding:5px;
    background-color: #B0C4DE;
    border-radius:5px;
    border:none;
}
.logout{
    color:black;
    text-align: right;
}
#logoutbtn{
    color:black;
    text-decoration:none;
}
.allposts{
    display:flex;
    flex-direction:column;
    gap:15px;
    padding:10px;
    width:800px;
    margin:auto;
}
.anypost{
    border:none;
    border-radius:5px;
    padding:5px;
    box-shadow:0px 0px 6px rgba(0,0,0,0.3);

}
.btntoviewpost{
    text-decoration: none;
    color:black;
    background-color: #B0C4DE;
    border-radius:3px;
    border:none;
    margin:3px;
    padding:3px;

}
#newpost{
    width:100px;
    padding:5px;
    background-color: #B0C4DE;
    border-radius:5px;
    border:none;
    color:black;
    text-decoration:none;
}